<!-- <h1 mat-dialog-title>{{data.title}}</h1> -->
<div mat-dialog-content class="imageViewer">
  <div class="closeBtn">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <img [src]="currentImage.attachmentUrl" class="img" alt="{{ currentImage.fileName }}">
  <button class="control prev" *ngIf="images && images.length > 1" (click)="moveImage(-1)">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button class="control next" *ngIf="images && images.length > 1" (click)="moveImage(1)">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
<!-- <div mat-dialog-actions>
  <span>
    <button mat-flat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Close</button>
  </span>
</div> -->