.dateControls {
  display: flex;
  align-items: center;
}

.dateControls > * {
  margin-left: 16px;
  margin-right: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.centralize {
  display: flex;
  align-items: center;
}